:root {
	--white: #ffffff;
	--black: #000000;
	--pink: #f472b6;
	--gray: #171717;
	--gray-light: #d4d4d4;
	--code: #1e2127;
}

::-webkit-scrollbar {
	width: 0;
}

html {
	background-color: var(--black);
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--gray-light);
	cursor: none;
}

a:hover,
a:focus,
a:active {
	cursor: none;
}

button:hover,
button:focus,
button:active {
	cursor: none;
}

main {
	width: 90%;
	height: fit-content;
	margin: auto;
}

a {
	color: var(--pink);
	transition: color 0.3s ease;
}

a:hover {
	color: var(--pink);
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: var(--code);
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--pink);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid var(--pink);
}