---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Lo que me impulso a seguir"
  description="Esta breve descripción refleja mis pasiones y metas."
  pubDate={new Date("September 05 2023")}
  heroImage="../../public/img/placeholder/ThisIsMe.jpeg"
>
  <h1>Esto es un ejemplo se mejorará</h1>
  <p>
    Después de graduarme, no tenía ni idea de qué hacer después. Fue un tiempo
    después que acepté estudiar algo que me recomendó un amigo bien
    intencionado. A pesar de lo difícil que es entrar a la institución, solo
    entré. Me dispuse a dar todo de mí y realmente quería aprender. No tenía ni
    siquiera una computadora, solo llevaba conmigo una libreta que me regaló mi
    madre y un lápiz que le sobraba a mi padre.
    <br />
    Lo que no tenía en cuenta es que ese año sería mucho más "retador" de lo
    que esperaba. Enfrenté muchas dificultades, pero la más difícil de superar
    fue el estado de salud mental de mi madre. Soy fuerte, pero esto me
    superaba. Descuidé incluso mi alimentación, pero sobre todo seguí
    aprendiendo. No dejé que los malos momentos me quitaran las ganas.
    <br />
    Mis padres notaron que mi hermana y yo realmente nos estábamos esforzando,
    a pesar de que todo estuviera mal. Aprender nos mantenía cuerdos; era
    nuestra forma de vivir en esos tiempos. 
    <br />
    Mis padres hicieron el sacrificio de
    darnos una herramienta para seguir mejorando y, desde ese momento, yo tenía
    una misión: demostrarles que todo sacrificio vale la pena y que seguramente
    nos llevará a un mejor lugar.
    <br />
    Pasó el tiempo y superé todos los retos, superé todo lo que enfrenté, que
    no fueron pocos. Para todos fue diferente, pero para mí fue así. Todos los
    días se convirtieron en decenas de formas de superarme, de ser mejor, de
    aprender. Claramente, no todo fue como lo esperaba, ni mucho menos como lo
    planeé, pero seguí, persistí e insistí.
    <br />
    <br />
    Es sorprendente lo mucho que he avanzado, y de todo lo que he vivido, sé
    que apenas mi camino está comenzando, pero estoy dispuesto a dar todo de mí
    para seguir siendo mejor. Por aquellos que creen en mí. <b>GRACIAS</b>
    <br />
    <br />
    Imagina leer esto con la canción "Maniac" de Michael Sembello:
    <br />
    "Mi filosofía es sencilla, cada instante del día es una oportunidad para
    ser mejor."
    <br /><br />
  </p>
</Layout>
