---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Lo que me impulso a seguir"
  description="Esta breve descripción refleja mis pasiones y metas."
  pubDate={new Date("September 05 2023")}
  heroImage="../../public/img/placeholder/ThisIsMe.jpeg"
>
  <p>
    Después de graduarme, sentí la incertidumbre de lo que sería de mi futuro.
    No sabía qué estudiar ni en qué invertir mi tiempo. Casi por inercia, acepté
    estudiar algo que no buscaba, y realmente fue emocionante intentar algo
    diferente. El siguiente año, 2020, no fue nada como lo planeado; mi mundo
    cambió.
    <br>
    Mis padres, a quienes les debo todo, me dieron las herramientas para
    seguir aprendiendo. A pesar de la adversidad, traté de ser cada día mejor, y
    al final, rindió fruto todo el esfuerzo. No existe sacrificio más grande.
    <br>
    Pasaron muchas cosas, pero, como mis maestros me enseñaron, yo solo debía
    seguir, persistir e insistir. Es sorprendente lo mucho que puedes superar
    con esa mentalidad, pero lo que realmente aprendí de ellos fue que el regalo
    más grande que te pueden dar es una pizca de esperanza. Con lo poco que sea,
    somos capaces de ser mejores. 
    <br><br>
    Este es solo el principio de mi camino. Me
    falta mucho por aprender y tengo mucho que enseñar. Tengo una misión: ser
    mejor cada día. Cada instante es una oportunidad, y existen personas que
    creen en mí. A todos aquellos, les digo gracias por cambiar mi vida.
  </p>
</Layout>
