---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE_HOME } from "../consts";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE_HOME} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="h-screen flex items-center">
        <div class="w-11/12 mx-auto">
          <div class="text-center">
            <h1 class="text-pink-400 text-3xl font-semibold animate-jump-in animate-duration-[1000ms] animate-ease-out">Understand User Flow.</h1>
            <p class="mt-3 text-neutral-100 animate-fade-up animate-duration-1000 animate-delay-[1000ms] animate-ease-out">Lorem ipsum esto solo es un test</p>
            <div class="mt-4 hover:scale-110 duration-500 ease-out delay-100 animate-fade animate-duration-1000 animate-delay-[2000ms] animate-ease-out">
              <a href="/blog" class="">
                <button class="px-3 py-1 w-fit font-semibold text-white hover:text-pink-400 border border-pink-400 bg-pink-400 hover:bg-transparent rounded-lg transition duration-100 ease-out">Comenzar</button>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="w-11/12 mx-auto">
        <div class="flex justify-center w-full">
          <div class="p-5 mt-9 text-center md:text-left rounded-2xl bg-neutral-900">
            <p class="text-xl font-semibold mb-2 -mt-9 pb-2 border-2 border-transparent border-b-pink-400">Colaboradores</p>
            <div class="">
              <!-- ////////////////////// -->
              <div class="md:flex md:flex-row max-w-min p-5 mb-5 rounded-lg bg-transparent backdrop-blur-lg border-0 hover:border-b-4 border-pink-400 duration-300 ease-in-out hover:-translate-y-1">
                <div class="mx-auto my-auto flex w-36 items-center justify-center md:mx-0 md:w-96">
                  <img src="https://tecdn.b-cdn.net/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-2xl" alt="Avatar" /> 
                </div>
                <div class="my-auto w-full ml-0 md:ml-5"> 
                  <p class="mb-2 mt-3 md:mt-0 text-xl font-semibold text-neutral-300">Anna Smith</p>
                  <p class="mb-0 font-light text-neutral-400">Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                </div>
              </div>
              <!-- ////////////////////// -->
            </div>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>