---
import HeaderLink from "./HeaderLink.astro";
import logo from "../../public/img/access/logo.png";
---

<header class="w-screen px-4 z-10 fixed top-0 bg-black/50 backdrop-blur-sm">
  <nav class="py-2 flex align-center justify-between">
    <img class="w-8 h-8 my-auto mx-0" src={logo.src} alt="Logo de Rdeveloper" />
    <div>
      <HeaderLink href="/">Inicio</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">Sobre mi</HeaderLink>
    </div>
  </nav>
</header>
<style>
  nav a {
    padding: 0.25rem 0.75rem;
    color: var(--white);
    border-bottom: 2px solid transparent;
    text-decoration: none;
    border-radius: 0.5rem;
  }
  nav a.active {
    background-color: #00000080;
    text-decoration: none;
    border-bottom-color: var(--pink);
  }
  nav a:hover {
    color: var(--pink);
  }
</style>
